.DS_Store

.Trash
.cache
.local
.ssh
.thumbnails
.bash_history
.zsh_history
.viminfo
.python_history
.zshenv
.zsh_sessions
.zcompdump
.lesshst
.hawtjni
.CFUserTextEncoding
.terminfo
.cocoapods
.m2
.swiftpm

.cargo
.rustup
.android
.gradle
.npm
.react-native-cli
.yarn
.yarnrc
.node_repl_history
.emulator_console_auth_token

Applications
Library
Desktop
Documents
Downloads
Pictures
Projects
Public
Movies
Music

.config/coc
.config/gtk*
.config/yarn
.config/configstore
